CompileFlags:
  Remove: 
    - -fmodules-ts
    - -fmodule-ts
    - -fdeps-format=*
    - -fmodule-mapper=*
  Add: 
    - -std=c++23
    - -Wno-unused-includes
    - -fprebuilt-module-path=build/CMakeFiles/guipp.dir

Diagnostics:
  UnusedIncludes: None
